# 4.1 MEV Bot Detection (Time Pattern Analysis)

In this notebook, we detect potential **MEV bots** by analyzing
their **temporal behavior**, focusing on:

- Hourly and block-level activity patterns  
- High-frequency repeated transactions  
- Multi-tx bursts in the same block  
- Consistent timing patterns across routers  
- Early signs of sandwich-like behavior (basic pattern)

This analysis serves as the entry point for the rest of Chapter 4.

By the way, what is an MEV bot? I gotta explain this first
An MEV bot is an automated trading program that seeks to exploit **Miner Extractable Value (MEV)** opportunities on the Ethereum blockchain. These bots monitor the mempool for pending transactions and strategically place their own transactions to capitalize on price movements, arbitrage opportunities, or front-running trades. MEV bots can significantly impact market dynamics and liquidity, making their detection and analysis crucial for understanding on-chain trading behavior.

## 1. Imports + Load Data

We load:

- The cleaned ETH transaction table  
- Basic time fields (block, timestamp, hour)  
- Whale detection results (optional annotation)  

These will be reused in subsequent MEV modules.

In [2]:
import os
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams["figure.figsize"] = (10, 5)
plt.rcParams["axes.grid"] = True

# PROJECT_ROOT already consistent with previous notebooks
PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), "..", ".."))
sys.path.append(PROJECT_ROOT)

from src.data.load_data import load_clean_transactions

In [3]:
# Load ETH transactions
tx = load_clean_transactions()
print("Transactions:", len(tx))

tx.head()

Transactions: 13268

,hash,from_address,to_address,block_number,value,block_timestamp
0,0xd8ec648861cf4de73f18f9a034623eeded1b26ec7246...,0xa9264494a92ced04747ac84fc9ca5a0b9549b491,0x835033bd90b943fa0d0f8e5382d9dc568d3fbd96,23772289,4.699994e+19,2025-11-11 00:00:11+00:00
1,0x5843a9e865f9b7222ddb376ea2869c50b389c3a0d858...,0xc0ffeebabe5d496b2dde509f9fa189c25cf29671,0xc0ffeebabe5d496b2dde509f9fa189c25cf29671,23772292,5.817089e+19,2025-11-11 00:00:47+00:00
2,0x131571aec26cd23b0134a97341acf9fb0b559b085b68...,0xe50008c1d110da8e56982f46a9188a292ee90a7b,0x1ab4973a48dc892cd9971ece8e01dcc7688f8f23,23772292,3.390013e+18,2025-11-11 00:00:47+00:00
3,0xa1b7caf05dd498111a40ffe269fefb2ae574dde53da0...,0xe40d548eb4fa4d9188fd21723f2fd377456c0876,0x28c6c06298d514db089934071355e5743bf21d60,23772292,7.999922e+18,2025-11-11 00:00:47+00:00
4,0xc1d8e4ffa9e7864d5a38f84aa4532308d411ba35f82e...,0x0eb1665de6473c624dcd087fdeee27418d65ed59,0xa03400e098f4421b34a3a44a1b4e571419517687,23772292,6.318854e+18,2025-11-11 00:00:47+00:00

## 2. Preprocessing â€” Extract Time Fields

We convert timestamps to:

- `datetime`  
- `hour` (for hourly MEV patterns)  
- `block_number` (for block-level burst detection)

In [6]:
tx["datetime"] = pd.to_datetime(tx["block_timestamp"])
tx["hour"] = tx["datetime"].dt.floor("H")

# Just to confirm expected fields
tx[["block_number", "datetime", "hour"]].head()

/var/folders/tm/2mpx1bkj39x81n32__pl6vbw0000gn/T/ipykernel_94390/2364879596.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  tx["hour"] = tx["datetime"].dt.floor("H")

   block_number                  datetime                      hour
0      23772289 2025-11-11 00:00:11+00:00 2025-11-11 00:00:00+00:00
1      23772292 2025-11-11 00:00:47+00:00 2025-11-11 00:00:00+00:00
2      23772292 2025-11-11 00:00:47+00:00 2025-11-11 00:00:00+00:00
3      23772292 2025-11-11 00:00:47+00:00 2025-11-11 00:00:00+00:00
4      23772292 2025-11-11 00:00:47+00:00 2025-11-11 00:00:00+00:00

## 3. High-Frequency Activity by Address (Hourly)

MEV bots often show:

- Extremely frequent actions within short intervals  
- Highly repetitive swap patterns  
- Multi-hop arbitrage within the same hour  

We begin by counting hourly transactions per address.